:root
{
    --bgbody: hsl(0, 0%, 8%);
    --bgcontact: #242424;
    --accent: hsl(153, 71%, 59%);
    --text1: #ffffff;
    --text2: hsl(0, 0%, 85%);
    --invalid: hsl(7, 100%, 68%);
}

html
{
    box-sizing: border-box;
    font-size: 100%;
}

body
{
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--bgbody);
    color: var(--text1);
    font-size: 18px;
    line-height: 28px;
}